html {
  height: 100%;
  width: 100%;
}

body{
  color: #5F1353	;
  font-size: 20px;
  font-family: 'Times New Roman', serif;
  background-color: #CBA3FF;
  margin-left: 5%;
  margin-right:5%;
}

body {
  margin: 10;
  padding: 10;
}

header {
    color: #1C0221;
    padding: 20px;
    text-align: center;
}
h2 {
}
#name{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.intro {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.intro img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.link {
  font-family: 'Courier New',monospace;
  font-size: 20px;
  text-decoration: darkslateblue wavy underline;
  color: #5F1353	;

}

.link:hover {
  background-color: #FED766;
  color: black;
  text-decoration: darkslateblue wavy underline;

}



a:hover {
  text-decoration:underline;

}

footer {
  background-color: #1C0221;
  color: mistyrose	;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  background-color:#FED766 ;
  padding: 10px;
  height: 50px;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration:darkslateblue	 wavy underline;
}
.popup:hover{
  background-color:#FED766 ;


}
.popup .popupText {
  visibility: hidden;
  background-color: #FFDFDF;
  fill-opacity: 0.5;
  min-width: fit-content; 
  text-align: center;
  border-radius: 6px;
  padding: 10px ;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%)
}
/*figure this popup crap out */
.popup .popupText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transformX(-50%);  

  
}

.popup .show {
  visibility: visible;
}


audio {
  min-width: 150px;
  max-width: 175px;
  height: 30px;
}

audio::-webkit-media-controls-panel {
  background-color: #FF5B5B	; 
  border-radius: 5px;
  padding: 5px; 
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-timeline{
  display: none;
}
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-timeline-container,
audio::-webkit-media-controls-volume-slider{
  display: inline-block;
}

#github-link {
  color: #330500;
  font-size: 30px;
  text-decoration: none;
  
}

#github-link:hover {
  color: #5F1353;
  transform: scale(1.2);
}